/*Untuk Header*/

/*1. header*/
body{
	background: url("../img/c1.jpg");
	background-position: center;
	background-repeat: no-repeat;
	background-attachment: fixed;

}
.head h2{	
	text-transform: uppercase;
	font-family: premier;
	font-size: 350%;
	font-weight: 100%;
	font-style: inherit;
	color: #ff6600;
	
}
@font-face{
	font-family: "lalipo";
	src: url("../font/comic_0.TTF");
}
@font-face{
	font-family: "premier";
	src: url("../font/PremierLeague with LionNumbers.TTF");
}
.header{
	text-align: center;
}
nav{
	padding: 15px;
	font-weight: bold;
}
.navbar{
	background-image: url(../img/gorga1.jpg);
	

}
nav .navbar-toggle{
	background-color: rgb(51,51,51);
	background-color: white;
}

.icon-bar{
	background-color: black;
}
div .search{
	margin-top: 5px;
	float: right;
}
.search input{
	padding-left: 10px;
	font-family: lalipo;
	border-radius: 4px;
	width: 300px;
	height: 35px;
	border: 1px solid #ccc;
	display: inline-block;
}
.navbar-nav{
	color: white;
	font-family: premier;
	background-color: #ccc;
	font-size: 1,5em;
	border-radius: 4px;
}
.search button{
	background-color: white;
	border-radius: 4px;
	border: 1px solid #ccc;
	padding: 6px;
	width: 40px;
}

h3, h6{
	color: #ff6600;
}
.capt{
	text-align: center;
	
}
.dropdown-menu>li>a{
	font-weight: bolder;

}

.dropdown-menu>li>a:hover{
	background-color: #ff6600;
	
}

/*Untuk Badan*/
/*Tuliskan CSS Badan di Dini Teman kelompok ku*/

#awal {
    position: relative;
    max-width: 800px;
    margin: 0 auto;
}
#awal h1 {
	font-family:premier;
	font-weight: bolder;
}

#awal img {
	vertical-align: middle;
	width: 100%;
	height: auto;
	min-width: 200px;
}



#awal .content {
    position: absolute;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5); /* Black background with transparency */
    color: #f1f1f1;
    width: 100%;
    padding: 20px;
}


/* Style the tab */

#tabKiri{
	background-color: white;
}
#tabKiri>h1{
	font-weight: bold;

}
#tabKiri>h1:hover{
	color: orange;
}

#yabKanan{
	background-color: white;
}
.tab {
    float: left;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
    width: 30%;
    height: auto;
}

/* Style the buttons inside the tab */
.tab button {
    display: block;
    background-color: inherit;
    color: black;
    padding: 22px 16px;
    width: 100%;
    border: none;
    outline: none;
    text-align: left;
    cursor: pointer;
    transition: 0.3s;
    font-size: 17px;
}

/* Change background color of buttons on hover */
.tab button:hover {
    background-color: #ddd;
}

/* Create an active/current "tab button" class */
.tab button.active {
    background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
    float: left;
    padding: 0px 12px;
    border: 1px solid #ccc;
    width: 70%;
    border-left: none;
    height: auto;
}

.caption{
	text-decoration: underline;
}
 h4{
	color: #383838;
}

.list-group-item>img{
	width: 50px;
	height: auto;
}

.list-group-item>img:hover{
	-ms-transform: scale(1.5);
	-webkit-transform:scale(1.5);
	transform: scale(1.5);
}



.column {
    float: left;
    width: 33.33%;
    padding: 5px;
}

#galery{
	width: 300px;
	height: auto;
}

/* Clearfix (clear floats) */
.row::after {
    content: "";
    clear: both;
    display: table;
}

#galeryFoto{
	background-color: #f5f5dc;
}



/*Untuk Footer*/

footer{
	padding-top: 20px;
	/*background-color: #990000;*/
}
#footer{
	background-color: #1a1a1a;
	color: white;

}

#MyLogo:hover{
	-ms-transform: scale(1.5);
	-webkit-transform:scale(1.5);
	transform: scale(1.5);
}

.well{
	background-color: #ff8533;
	height: 20px;
	color: black;
}

.well>h4{

}

#link{
	color: black;
}

.sosial>a>img{
	max-width: 50px;
	height: auto;
}

.sosial>p{
	color:white;
}

.sosial>a>img:hover{
	-ms-transform: scale(1.5);
	-webkit-transform:scale(1.5);
	transform: scale(1.5);
}



/*tombol menuju header*/
#myBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;

  font-size: 10px;
  border: none;
  outline: none;
  background-color: green;
  color: white;
  
  padding: 15px;
  border-radius: 4px;
}

#myBtn:hover {
  background-color: blue;
}

